@import '../style/mixins/index.scss';
body, div{
    margin: 0;
    padding: 0; 
}
html, body{
    height: 100%;
}
.mod-warpper{
    height: 100%;
    @include display-box(vertical)
}
.mod-container{
    @include box-flex(1);
    @include display-box(horizontal);
}